.DS_Store
.bin
.git
.gitignore
.bundleignore
.bundle
.byebug_history
.rspec
.env.*
.env
tmp
log/development.log
log/test.log
test
config/deploy
public/packs
public/packs-test
node_modules
yarn-error.log
coverage/
