<div class="alert alert-<%= local_assigns[:role] %> alert-dismissible" role="alert">
  <%= local_assigns[:message] %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>