<h1>Editing insurance plan</h1>

<%= render "form", insurance_plan: @insurance_plan %>

<br>

<div>
  <%= link_to "Show this insurance plan", @insurance_plan %> |
  <%= link_to "Back to insurance plans", insurance_plans_path %>
</div>
