<div id="<%= dom_id work_order %>">
  <p>
    <strong>Fecha:</strong>
    <%= work_order.fecha %>
  </p>

  <p>
    <strong>Solicitado por:</strong>
    <%= work_order.solicitado_por %>
  </p>

  <p>
    <strong>Encargado:</strong>
    <%= work_order.encargado %>
  </p>

</div>
