<nav class="navbar navbar-custom navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">
          <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
        </a>
        </li>
        <li class="dropdown">
          <ul class="dropdown-menu" role="menu">
            <% if user_signed_in? %>
              <%= render "layouts/menu" %>

              <%# unless @submenu_layout == nil %>
                <%#= render @submenu_layout %>
              <%# else %>
<!--                <div class="line"></div>-->
              <%# end %>

              <%#= render 'layouts/modal' %>

            <% end %>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
