<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme menu-collapsed" data-bg-class="bg-menu-theme">

  <div class="app-brand demo">
    <a href="<%= root_path %>>" class="app-brand-link gap-2">
<div class="app-brand-logo">
  <%= image_tag SystemSettings[:logo_file],
                class: "app-brand-logo demo h-auto",
                alt: "logo",
                width: 80
  %>
</div>


      <span class="app-brand-text demo menu-text fw-bolder ms-2">
        <%= SystemSettings[:organization_name].html_safe %>
      </span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-xl-none">
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>
  <div class="menu-divider mt-0"></div>
  <div class="menu-inner-shadow"></div>

  <%= render_navigation %>
</aside>